body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.head-ervices {
    text-align: center;
}

a.custom-logo-link {
    margin-bottom: 7px;
}


/* This Applies a box-sizing border-box model to all elements */

* {
    box-sizing: border-box;
}


/* Global styles */

body {
    font-family: "Inter Tight", sans-serif;
    line-height: 1.6;
    color: #333;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}


/* Banner styles and the hovering effects */

.banner {
    position: relative;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.banner:hover img {
    transform: scale(1.1);
}

.youtube-element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* About Us styles */

.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.left-column {
    flex: 1;
}

.right-column img {
    width: 350px;
    height: auto;
}


/* Services styles */

.services {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.service-content {
    flex: 1;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.service-content:hover {
    transform: translateY(-5px);
}


/* Footer styles */

.footer {
    width: 100%;
    height: 400px;
    max-width: auto;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    background-color: #141476;
    color: #ddd;
}

.footer td {
    padding: 20px;
}


/* Responsive styles */

@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
        margin: 15px 0;
    }
    .about-us {
        flex-direction: column;
        text-align: center;
    }
    .right-column img {
        margin-top: 20px;
    }
    .services {
        flex-direction: column;
    }
    .service-content {
        margin-bottom: 20px;
    }
}